<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link href="/backstage/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/backstage/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="/backstage/css/style.css" rel="stylesheet" type="text/css" />
<link href="/backstage/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />

<title>栏目管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 计费管理<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20 text-c">
	<div class="text-c">
	</div>
	
	<div class="mt-20">
	<form action="/system/updateSet" method="post">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="120">全场打折比率</th>
					<th width="120">是否能根据姓名查到vip信息</th>
					<th width="120">是否能根据账号查到vip信息</th>
					<th width="120">应收金额是否默认取整</th>
					<th width="80">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c">
					<td >
						<span th:text="${set.alldiscountrate}" id="allDiscounRate1"></span>
						<span id="allDiscounRate2" style="display:none;"><input type="number" value="" name="alldiscountrate"  step="0.01" max="1" min="0"/></span>
					</td>
					<td>
						<span id="findvipmessagebyname1">
							<span class="label label-success radius" th:if="${set.findvipmessagebyname}==1">yes</span>
							&nbsp;&nbsp;<span class="label radius" th:if="${set.findvipmessagebyname}==0">no</span>
						</span>
						<span id="findvipmessagebyname2" style="display:none">
							<span class="label label-success radius" ><input type="radio" name="findvipmessagebyname" value="1"/>yes</span>
							&nbsp;&nbsp;<span class="label radius" ><input type="radio" name="findvipmessagebyname" value="0"/>no</span>
						</span>
					</td>
					<td >
						<span id="findvipmessagebyid1">
							<span class="label label-success radius" th:if="${set.findvipmessagebyid}==1">yes</span>
							&nbsp;&nbsp;<span class="label radius" th:if="${set.findvipmessagebyid}==0">no</span>
						</span>
						<span id="findvipmessagebyid2" style="display:none">
							<span class="label label-success radius" ><input type="radio" name="findvipmessagebyid" value="1"/>yes</span>
							&nbsp;&nbsp;<span class="label radius"><input type="radio" name="findvipmessagebyid" value="0"/>no</span>
						</span>
					</td>
					<td>
						<span id="moneytoint1">
							<span class="label label-success radius" th:if="${set.moneytoint==1}">yes</span>
							&nbsp;&nbsp;<span class="label radius" th:if="${set.moneytoint==0}">no</span>
						</span>
						<span id="moneytoint2" style="display:none">
							<span class="label label-success radius" ><input type="radio" name="moneytoint" value="1"/>yes</span>
							&nbsp;&nbsp;<span class="label radius" ><input type="radio" name="moneytoint" value="0"/>no</span>
						</span>
					</td>
					<td class="f-14">
						<span id="editthis" style="display:block"><a title="编辑" href="javascript:;" onclick="system_edit()" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a></span>
						<span id="saveChange" style="display:none"><input type="submit" value="保存修改" /> </span>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	</div>
</div>
<script type="text/javascript" src="/backstage/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/backstage/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="/backstage/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/backstage/js/H-ui.js"></script> 
<script type="text/javascript" src="/backstage/js/H-ui.admin.js"></script> 
<script type="text/javascript" th:inline="javascript">
//获取修改结果
var result=[[${result}]];
if(result!=null){
	alert(result);
	location.href="/system/findBillingReuls";
}


/*系统-编辑*/
function system_edit(){
	$("#editthis").css('display','none');
	$("#saveChange").css('display','block');
	
	$("#findvipmessagebyname1").css('display','none');
	$("#findvipmessagebyname2").css('display','block');
	
	$("#allDiscounRate1").css('display','none');
	$("#allDiscounRate2").css('display','block');
	
	$("#findvipmessagebyid1").css('display','none');
	$("#findvipmessagebyid2").css('display','block');
	
	$("#moneytoint1").css('display','none');
	$("#moneytoint2").css('display','block');
}

</script>
</body>
</html>